p {
  font-family: verdana, sans-serif;
  color: black;
}

body {
  background-color: yellow;
}

article {
  background-color: lime;
  margin-right: 10px;
  padding: 0 5px;
}

footer {
  background-color: lime;
}

a:hover {
  text-decoration: underline;
}

a {
  color: red;
  text-decoration: none;
}

section {
  background-color: grey;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr
}